<?xml version='1.0' encoding='utf-8'?>
<widget id="nefnodel.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Inventarios httNefnodel</name>
    <description>
        Ingreso de datos para realizar inventario.
    </description>
    <author email="daviddelarosa@ssiguatemala.com" href="http://www.ssiguatemala.com">
        Sistemas y Soluciones en Informatica
    </author>
    <content src="index.html" />
    <access origin="http://www.nefnodel.com" />
    <access origin="https://www.nefnodel.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/img/icono.png"/>
    <preference name="orientation" value="portrait" />
</widget>
