/*General*/
body{
  overflow-x: hidden;
  font-size: 16px!important;
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 1.5rem!important;
}

.separator{
  margin: 1rem;
  border-bottom: 1px solid #d3cfcf;
}
.text-uppercase{
  letter-spacing: 0.1em;
}
.text-gray{
  color: #858383;
}
.text-red{
  color: #BF1C13
}
.text-azul{
  color: #004585
}
.bg-gray{
  background-color: #858383!important;
}

.btn{
  font-size: 1.3rem!important;
}
/*Menú*/
.vertical-nav{
  background-color: #fff;
  min-width: 17rem;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  transition: all 0.4s;
  overflow: auto;
  z-index: 99;
  font-size: 20px;
}
#sidebar.active{
  margin-left: -100%;
}
/*Info Colector*/
#colectId, #inventId,  #sucursal{
  font-size: 1rem;
  font-weight: bold;
}
#colectId p span, #inventId p span, #sucursal p span{
  font-weight: normal;
}
#colectId p, #inventId p, #sucursal p{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/*Logo*/
.logo{
  width: 40%;
}
/*UL*/
.nav-link{
  text-transform: capitalize;
}
.nav-link:hover, #exitLink:hover, .collapsebotton:hover{
  background: #aaa;
  color: #fff!important;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
}

#sidebar ul li .active{
  color: #2c2c2c;
}
.text-primary{
  color: #7579e7;
}

.sidebarCollapse{
  font-size: 1.6rem!important;
}

/*Menu admin*/
.menu-admin-padding{
  padding: 0.5rem 1rem 0.5rem 0;
}
.separator-tittle{
  margin: 0.1rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid #d3cfcf;
}

.btn-switch{
  font-size: 0.6rem!important;
  text-align: center;
  width: 2.2rem;
  padding: 0.6rem 0;
}

/*contenido*/
.page-content{
  width: cal(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
#content.active{
  width: 100%;
  margin: 0;
}

/*formularios*/
.form-control, .custom-select, #sidebar .custom-select{
  width: 98%;
  height: 2.8rem!important;
  font-size: 1.5rem!important;
}
/*Info in Code*/
.info{
  font-weight: bold;
}

.infoG{
  font-size: 0.5rem;
}

.fa-trash-alt{
  font-size: 3rem;
}

/*Alertas*/
.alertsRow, #loading-screen{
  display: none;
  z-index: 1;
}

#Alert{
  height: 100vh;
  display: flex;
  align-items: center;
}

#medio{
  padding-left: 5%!important;
  padding-right: 5%!important;
}

#row-inputAmout{
  background-color: #717272ba;
  display: none;
}

#form-inputAmout{
  width: 50vw;
  height: 50vh;
}
