@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pbtouf');
  src:  url('../fonts/icomoon.eot?pbtouf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pbtouf') format('truetype'),
    url('../fonts/icomoon.woff?pbtouf') format('woff'),
    url('../fonts/icomoon.svg?pbtouf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e903";
}
.icon-sign-out-alt:before {
  content: "\e907";
}
.icon-bars:before {
  content: "\e906";
}
.icon-backspace:before {
  content: "\e900";
}
.icon-clipboard-list:before {
  content: "\e901";
}
.icon-cloud-upload-alt:before {
  content: "\e902";
}
.icon-pen:before {
  content: "\e904";
}
.icon-trash-alt:before {
  content: "\e905";
}
